# Dictionary Questions

# Q1

In [23]:
my_dict = {
    'name' : 'Alice',
    'age' : 25,
    'city' : 'New York'
}

In [24]:
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [25]:
my_dict['age']

25

In [26]:
my_dict['age'] = 26     # age updated to 26

In [27]:
my_dict

{'name': 'Alice', 'age': 26, 'city': 'New York'}

In [28]:
my_dict.pop('city')    # removed key city

'New York'

In [29]:
my_dict

{'name': 'Alice', 'age': 26}

In [30]:
my_dict['name']          # name key exist

'Alice'

# Q2

In [31]:
dict1 = {
    "a":1,
    "b":2,
    "c":3
}

In [32]:
dict1

{'a': 1, 'b': 2, 'c': 3}

In [33]:
dict2 = {
    "b":4,
    "c":5,
    "d":6
}

In [34]:
dict2

{'b': 4, 'c': 5, 'd': 6}

In [35]:
dict2.update(dict1)

In [36]:
dict2

{'b': 2, 'c': 3, 'd': 6, 'a': 1}

In [37]:
dict2["d"] = 4      # update common keys

In [38]:
dict2.setdefault("e",5)       # add missing key value

5

In [39]:
dict2

{'b': 2, 'c': 3, 'd': 4, 'a': 1, 'e': 5}

In [40]:
dict2.setdefault("f",6)

6

In [41]:
dict2

{'b': 2, 'c': 3, 'd': 4, 'a': 1, 'e': 5, 'f': 6}

# Q3

In [42]:
data1 = {
    "name":"Yashwant",
    "age":24,
    "state":"Delhi",
    "city":"New Delhi",
    "nationality":"Indian"
}

In [43]:
{k:v for k,v in data1.items()}

{'name': 'Yashwant',
 'age': 24,
 'state': 'Delhi',
 'city': 'New Delhi',
 'nationality': 'Indian'}

# Q4

In [44]:
squares = {
    1:1,
    2:4,
    3:9,
    4:16,
    5:25,
    6:36,
    7:49,
    8:64,
    9:81,
    10:100
}

In [45]:
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [46]:
new = {k:v for k,v in squares.items() if k%2==0}         # print only even key and save in new dictionary

In [47]:
new

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

# Q5

In [48]:
marks1 = {
    'Ravi':{
        'age':16,
        'subjects':{
            'english':'B1',                               # Nested Dictionary
            'hindi':'A1',
            'maths':'B2'
        },
    },
    'naveen':{
        'age':17,
        'subjects':{
            'english':'A2',
            'hindi':'B1',
            'maths':'B2'
        },
    },
    'kiran':{
        'age':18,
        'subjects':{
            'english':'A1',
            'hindi':'A2',
            'maths':'A1'
        }
    }
}

In [49]:
marks1

{'Ravi': {'age': 16,
  'subjects': {'english': 'B1', 'hindi': 'A1', 'maths': 'B2'}},
 'naveen': {'age': 17,
  'subjects': {'english': 'A2', 'hindi': 'B1', 'maths': 'B2'}},
 'kiran': {'age': 18,
  'subjects': {'english': 'A1', 'hindi': 'A2', 'maths': 'A1'}}}

# Q6

In [50]:
info = {
    'name':'Ramesh',
    'age':30,
    'profession':'Teacher',
    'nationality':'Indian',
    'address':'saket,new delhi'
}

In [51]:
info

{'name': 'Ramesh',
 'age': 30,
 'profession': 'Teacher',
 'nationality': 'Indian',
 'address': 'saket,new delhi'}

In [52]:
info.keys()

dict_keys(['name', 'age', 'profession', 'nationality', 'address'])

In [53]:
info.values()

dict_values(['Ramesh', 30, 'Teacher', 'Indian', 'saket,new delhi'])

In [54]:
info.items()

dict_items([('name', 'Ramesh'), ('age', 30), ('profession', 'Teacher'), ('nationality', 'Indian'), ('address', 'saket,new delhi')])

# Functions Questions

# Q1

In [1]:
def greet(name):
    """this function will greet"""              # Greet function
    print("Good Morning",name)

In [2]:
type(greet)

function

In [5]:
greet('Yashwant')

Good Morning Yashwant

# Q2

In [6]:
def square(number):                                  
    """this function will return square of number"""        # square function
    return number**2

In [7]:
square(2)

4

In [8]:
square(10)

100

# Q3

In [9]:
def power(base,exponent = 2):
    """this function will return result of raising base to the exponent"""       # base exponent function
    return base**exponent

In [10]:
power(5,3)

125

In [11]:
power(5)

25

# Q4

In [14]:
def factorial(integer_):
    """this function will return factorial of integer"""
    return 1 if (integer_==1 or integer_==0) else integer_*factorial(integer_-1)

In [15]:
factorial(5)           # factorial function

120

# Q5

In [16]:
def calculate_sum(*number):
    """this function will return sum of numbers"""        # sum function
    return sum(number)

In [17]:
calculate_sum(2,5,2)

9

In [18]:
calculate_sum(5,8,4,2,4,65)

88

# Q6

In [21]:
def print_info(name,age,city):
    """this function prints the information"""
    print('My name is:',name)                   # print info function
    print('My age is:',age)
    print('I live in:',city)

In [22]:
print_info('Yash',24,'New Delhi')

My name is: Yash
My age is: 24
I live in: New Delhi